# Created by .ignore support plugin (hsz.mobi)
.gitignore
out/production/Java/cat_winner.png
out/production/Java/kollaider100x67.jpg
out/production/Java/kollaider100x67_2.jpg
out/production/Java/letters16x10.png
out/production/Java/panda100x67.jpg
out/production/Java/rekTel.png
out/production/Java/smile.png
out/production/Java/smile_24.png

